html{
    font-family: cursive;
    max-height: 100vh;
    overflow: hidden;
}

body{
    margin: 0;
}

h1{
    text-align: center;
}

div.activity{
    position: absolute;
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 18px;
    padding: 5px;
}

canvas{
    z-index: 1;
}

div.prompt{
    font-family: sans-serif;
    font-size: 20px;
    visibility: hidden;
    box-shadow: 1px 1px 8px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 8px;
    border-radius: 3px 3px 0 0;
    z-index: 2;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: block;
    right: 0;
    left: 0;
}

div.prompt.show{
    visibility: visible;
}

div.prompt.happy{
    color: green;
    background-color: #fff;
}

div.prompt.sad{
    background-color: hsl(54, 79%, 89%);
}